# Client-side API URL
NEXT_PUBLIC_API_URL=http://localhost:8000

# Server-side API URL
API_URL_SERVER=http://paper-backend:8000

NEXTAUTH_SECRET=your_secret_key_here
NEXTAUTH_URL=http://localhost:3000
