PORT=8000

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arxiv_db
POSTGRES_USER=arxiv_user
POSTGRES_PASSWORD=arxiv_password

# Gemini API Key
GEMINI_API_KEY=change_this_to_your_actual_api_key

## JWT
JWT_SECRET_KEY=b4c82d51a58a41a5067b56e291f6a4b0
EXPIRE_MINUTES=20000
ALGORITHM=HS256
